@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --heading-font: "Poppins";
    --paragraph-font: "Source Sans 3", Helvetica, sans-serif;
}

.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
}

.subnav {
	position: sticky;
	bottom: 0;
	top: 60px;
}

.nav {
	background: #748F84;
}

.nav__title {
    margin: 0px 30px;
}

.nav__item {
    display: inline-block;
    margin: 0px 30px;
}

.hero {
	display: grid;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	background: #C5D4D2;
    font-family: var(--heading-font);
}

.h1 {
    font-size: 6em;
    margin: 0 90px;
    text-align: center;
    font-family: var(--paragraph-font);
}

.subnav {
	background: #fff;
	border-bottom: 1px solid #222;
}

.nav__container {
    align-items: baseline;
    display: flex;
    margin: 0 60px;
    padding: 15px 0;
    font-family: var(--paragraph-font);
}
.nav__title {
    font-size: 1.25em;
    color: #fff;
    font-family: var(--paragraph-font);
}
.nav__list {
    margin: 0 15px;
    color: #fff;
    font-family: var(--paragraph-font);
}
.nav__item {
    display: inline-block;
    margin: 0 8px;
    padding: 5px;
    color: #fff;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  h2 {
    font-size: 3em;
    margin-bottom: 15px;
    font-family: var(--paragraph-font);
}
p {
    line-height: 1.625em;
    margin: 0 auto;
    max-width: 480px;
    font-family: var(--paragraph-font);
}

footer {
    background-color: #748F84;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: white;
    font-family: var(--paragraph-font);
}

footer a {
    color: white;
    text-decoration: none;
    font-family: var(--paragraph-font);
}

footer a:hover {
    color: whitesmoke;
    text-decoration: underline
}

.msg {
    background-color:whitesmoke;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color:#111629;
    font-family: var(--paragraph-font);
}

.msg p {
    color:#111629;
    font-size: 1em;
    padding-bottom: 15px;
}

footer .social img {
    padding-top: 15px;
    
}

@media screen and (max-width: 900px) {
    nav, footer {
        flex-direction: column;
    }
    footer {
        margin-top: 25px;
    }
}